@charset "utf-8";

$navbar-breakpoint: 480px !default;

@import '../node_modules/bulma/bulma.sass';

.active {
  font-weight: bold;
}

.loader {
  height: 80px;
  width: 80px;
}

.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
